<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>JP Nori</title>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Tera|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="icon"
      type="image/png"
      href="/imgs/door_sm.png"
    />
  </head>
  <body>
    <nav class="nav-vert">
      <div class="nav-top">
        <div><a href="/" class="title brand"><img class="logo" src="/imgs/sushi.png" alt="logo" />J<span class="title lg-only"></span>P N<span class="title lg-only">ori</span></a></div>
      </div>
      <div class="nav-bottom">
        <div class="nav-item lg-only">About</div>
        <div class="nav-item lg-only">Menu</div>
        <div class="nav-item lg-only">Location</div>
        <div class="nav-item lg-only">Contact</div>
      </div>
    </nav>
    <div>
      <%- body %>
    </div>
  <script type="text/javascript" src="/lib/scroll.js">

  </script>
  </body>
</html>
